<h1>New Bookmark</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%# <%= f.association :movie %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
