<h1 class='card-title text-center'>Nouvel article</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :name,
                required: true,
                label: "Nom",
                hint: " 15 caractères maximum",
                input_html: { maxlength: 15, size: 40} %>
  <%= f.input :description %>
  <%= f.input :price, label: "Prix" %>
  <%= f.input :address, label: "Adresse" %>
  <%= f.input :photo, as: :file %>
  <div class="card-body d-flex flex-column align-items-center gap-3">
    <%= f.submit "Publier", class: "btn btn-primary" %>
  </div>
<% end %>
