<h1>Nouvel article</h1>
<%= simple_form_for @article do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Publier", class: "btn btn-primary" %>
<% end %>
