<div class="container">
  <div class="card-row">
    <% @articles.each do |article| %>
      <div class="col-md-4 justify-content-center">
        <div class="card" style="width: 25rem;">
          <% if article.photo.present? %>
            <%= cl_image_tag article.photo.key, height: 100, crop: :fill, cloud_name: 'dpjincxmo' %>
          <% else %>
            <%= image_tag "logo.png" %>
          <% end %>
          <div class="card-body">
              <h5 class="card-title"><%=article.name%></h5>
              <p class="card-text"><%=truncate(article.description, length: 70, separator: ' ', omission: '...')%></p>
              <p class="card-text">Prix : <%=article.price%> €</p>
              <p class="card-text">Auteur : <%=article.user.first_name%></p>
              <%= link_to 'Détail produit', article_path(article), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
