<%= render 'layouts/banner'%>

<div class="container py-3">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-lg-4 col-md-6 pb-4">
        <div class="card border rounded position-relative">
          <div class="card-body d-flex flex-column align-items-center gap-3">
            <div class="card-haut">
                <h4 class="card-title text-center"><%= article.name.capitalize %></h4>
              <% if article.photo.present? %>
                <div class="card-bg-image" style="background-image: url('<%= cl_image_path article.photo.key %>'); height: 150px; width: 200px; "></div>
              <% else %>
                <div class="card-bg-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= image_path "logo.png" %>'); height: 150px; width: 200px;"></div>
              <% end %>
            </div>
            <div class="card-text">
              <p class="card-text"><%= truncate(article.description.capitalize, length: 70, separator: ' ', omission: '...') %></p>
              <p class="card-text">Prix : <strong><%= article.price %></strong>€</p>
              <p class="card-text">Utilisateur : <%= article.user.first_name %></p>
            </div>
          <%= link_to 'Détail article', article_path(article), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
