<div class="container">
  <div class="row">
    <h2 class="card-title"><%=@article.name%></h2>
      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
            <% if @article.photo.present? %>
              <%= cl_image_tag @article.photo.key, height: 300, width: 300, crop: :fill %>
            <% else %>
              <%= image_tag "logo.png" %>
            <% end %>
          <div class="card-body">
            <p class="card-text"> <strong> Description :<strong> <%=@article.description%></p>
            <p class="card-text"><strong> Prix :<strong> <%=@article.price%></p>
            <p class="card-text"><strong> Utilisateur :<strong> <%=@article.user.first_name%></p>
            <%= link_to 'Modifier produit', edit_article_path, class: 'btn btn-secondary' %>
          </div>
          <div data-controller="toggle" class="mt-5">
            <button class="btn btn-outline-primary">Reservation</button>
          <%= render "form_booking" %>
        </div>
      </div>
    </div>
  </div>
</div>
