<h1><%=@article.name%></h1>

<div class=row>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
         <%= image_tag "flechette.jpg" %>
        <img class="img-fluid" alt="">
        <div class="card-body">
          <h2 class="card-title"><%=@article.name%></h2>
          <p class="card-text"><%=@article.description%></p>
          <p class="card-text"><%=@article.price%></p>
          <p class="card-text"><%=@article.user.first_name%></p>
        </div>
      </div>
    </div>
</div>
