<div class="fixed-top navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>

      <h5 class="title ml-3">Vive La Fête</h5>
    </div>

    <div class="collapse navbar-collapse dropdown" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Trouver un article", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Publier un article", new_article_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown-toggle profile-picture" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.profile_picture.attached? %>
              <%= image_tag current_user.profile_picture%>
            <% else %>
              <%= image_tag "party.png" %>
            <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" >
                <p >
                 Hey <cite title="Source Title"><%= current_user.first_name %></cite> prêt à faire la fête ?
                </p>
                <%= link_to "Mes articles", articles_path(current_user), class: "dropdown-item" %>
                <%= link_to "Mes réservations", booking_path([:id]), class: "dropdown-item" %>
                <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
